body {
	font-family: 'Montserrat', sans-serif; /* Using inheritance to apply font-family */
}

.section-title {
	color: #2ddf5c;
}

#product-overview {
	border: 5px black solid;
	background: #ff1b68;
	margin: 20px;
	padding: 10px;
}

#product-overview h1 {
	color: white;
	font-family: 'Anton', sans-serif;
}
