* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif; /* Using inheritance to apply font-family */
	margin: 0;
}

.main-header {
	background-color: #2ddf5c;
	padding: 8px 16px;
	width: 100%;
}

.main-header__brand {
	color: #0e4f1f;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
}

.main-header > div {
	display: inline-block;
	vertical-align: middle;
}

.main-nav {
	display: inline-block;
	text-align: right;
	vertical-align: middle;
	width: calc(100% - 74px);
}

.main-nav__items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav__item {
	display: inline-block;
}

.section-title {
	color: #2ddf5c;
}

#product-overview {
	background: #ff1b68;
	padding: 10px;
	width: 100%;
}

#product-overview h1 {
	color: white;
	font-family: 'Anton', sans-serif;
}
