body {
	font-family: 'Montserrat', sans-serif; /* Using inheritance to apply font-family */
}

.section-title {
	color: #2ddf5c;
}

#product-overview {
	background: #ff1b68;
}

#product-overview h1 {
	color: white;
	font-family: 'Anton', sans-serif;
}
