body {
	font-family: 'Montserrat', sans-serif; /* Using inheritance to apply font-family */
	margin: 0;
}

.section-title {
	color: #2ddf5c;
}

#product-overview {
	border: 5px solid black;
	background: #ff1b68;
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
}

#product-overview h1 {
	color: white;
	font-family: 'Anton', sans-serif;
}
