.section-title {
	color: #2ddf5c;
	text-align: center;
}

#product-overview {
	background-image: url('images/freedom.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left 10% top 20%;
	height: 528px;
	margin-top: 43px;
	padding: 10px;
	width: 100%;
	position: relative;
}

#product-overview h1 {
	bottom: 5%;
	color: white;
	font-family: 'Anton', sans-serif;
	left: 3%;
	position: absolute;
}

.plan__list {
	margin: auto;
	text-align: center;
	width: 80%;
}

.plan {
	background-color: #d5ffdc;
	display: inline-block;
	margin: 8px;
	padding: 16px;
	text-align: center;
	vertical-align: middle;
	width: 30%;
}

.plan--highlighted {
	background-color: #19b84c;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
	color: white;
}

.plan__annotation {
	background-color: white;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	color: #0e4f1f;
	padding: 8px;
}

.plan__title {
	color: #0e4f1f;
}

.plan__price {
	color: #858585;
}

.plan--highlighted .plan__title {
	color: white;
}

.plan--highlighted .plan__price {
	color: #0e4f1f;
}

.plan__features {
	list-style: none;
	margin: 0;
	padding: 0;
}

.plan__feature {
	margin: 8px 0;
}

#key-features {
	background-color: #ff1b68;
	margin-top: 80px;
	padding: 16px;
}

#key-features .section-title {
	color: white;
	margin: 32px;
}

.key-feature__list {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.key-feature {
	display: inline-block;
	width: 30%;
	vertical-align: top;
}

.key-feature__description {
	color: white;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.key-feature__image {
	background: #ffcede;
	border: 2px solid #424242;
	border-radius: 50%;
	margin: auto;
	height: 128px;
	width: 128px;
}
