* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif; /* Using inheritance to apply font-family */
	margin: 0;
}

.main-header {
	background-color: #2ddf5c;
	left: 0;
	padding: 8px 16px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.main-header__brand {
	color: #0e4f1f;
	display: inline-block;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	height: 25px;
}

.main-header__brand img {
	height: 100%;
}

.main-header > div {
	display: inline-block;
	vertical-align: middle;
}

.main-nav {
	display: inline-block;
	text-align: right;
	vertical-align: middle;
	width: calc(100% - 74px);
}

.main-nav__items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav__item {
	display: inline-block;
	margin: 0 16px;
}

.main-nav__item a {
	font-weight: bold;
	color: #0e4f1f;
	padding: 3px 0;
	text-decoration: none;
}

.main-nav__item a:hover,
.main-nav__item a:active {
	border-bottom: 3px solid white;
	color: white;
}

.main-nav__item--cta a {
	background-color: #ff1b68;
	border-radius: 8px;
	color: white;
	padding: 8px 16px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
	background-color: white;
	color: #ff1b68;
	border: none;
}

.main-footer {
	background-color: black;
	padding: 32px;
	margin-top: 48px;
}

.main-footer__links {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.main-footer__link {
	display: inline-block;
	margin: 0 16px;
}

.main-footer__link a {
	color: white;
	text-decoration: none;
}

.main-footer__link a:active,
.main-footer__link a:hover {
	color: #ccc;
}

.button {
	background-color: #0e4f1f;
	border: 1.5px solid #0e4f1f;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	font: inherit;
	font-weight: bold;
	padding: 8px;
}

.button:hover,
.button:active {
	background-color: white;
	color: #0e4f1f;
}

.button:focus {
	outline: none;
}
