* {
	/* all elements get inherited this properties, this is the lowest priority */
	margin: 0;
	padding: 0;
	/* global reset: remove margin and padding of all elements to make easier to style them */
}

body {
	/* Inheritance: in body we can define a base style for texts */
	color: #444;
	font-family: sans-serif;
	border-top: 10px solid #1098ad;
}

h1,
h2,
h3 {
	color: #1098ad;
	font-weight: bolder;
}

h1 {
	font-size: 26px;
	text-transform: uppercase;
	font-style: italic;
}

.main-header {
	background-color: #f7f7f7;
	padding: 20px 40px;
	margin-bottom: 60px;
	height: 80px;
}

.post-header {
	margin-bottom: 40px;
}

article {
	margin-bottom: 60px;
}

aside {
	background-color: #f7f7f7;
	border-top: 5px solid #1098ad;
	border-bottom: 5px solid #1098ad;
	padding: 50px 0;
	width: 500px;
}

h2 {
	font-size: 40px;
	margin-bottom: 30px;
}

h3 {
	font-size: 30px;
	margin-bottom: 20px;
	margin-top: 40px;
}

h4 {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

p {
	font-size: 22px;
	margin-bottom: 15px;
	line-height: 1.5;
}

ul,
ol {
	margin-left: 50px;
	margin-bottom: 20px;
}

li {
	font-size: 20px;
	margin-bottom: 10px;
}

/* footer p {
	font-size: 16px;
} */
#copyright {
	font-size: 16px;
}

/* article header p {
	font-style: italic;
} */
#author {
	font-style: italic;
	font-size: 18px;
}

.related-author {
	font-size: 18px;
	font-weight: bold;
}

.related {
	list-style: none;
}

li:first-child {
	font-weight: bold;
}

li:last-child {
	font-style: italic;
	margin-bottom: 0;
}

/* li:nth-child(even) {
	color: red;
} */
a:link {
	color: #1098ad;
	text-decoration: none;
}

a:visited {
	color: #1098ad;
}

a:hover {
	color: orangered;
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline dotted orangered;
}

a:active {
	background-color: black;
	font-style: italic;
}

/* Resolving conflicts with multiple selectors
	We can use the specificity (hover over the selector and vs code tells us the spec value)
*/
#copyright {
	color: black;
}

.copyright {
	color: blue;
}

/* When conflicts for same specificity the last selector is applied */

/* !important => inline styles => id => class => elements => */

.text {
	color: yellow;
}

footer p {
	color: green;
}

.post-img {
	width: 100%; /* Percentage of parent container */
	height: auto; /* To keep ratio once height is already set in html */
}
